* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
	padding: .25rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card {
    display: flex;
    width: 200px;
    margin: 10px;
    align-content: space-between;
}